<div class="elsewhere">
	<h2>Elsewhere</h2>
	<ul class="pub">
		<li>
			<h3><a href="https://www.youtube.com/watch?v=V8m-BV5VdRM">Interview with O'Reilly: Tim Kadlec of Akamai on modern web performance (Video)</a></h3>
			<span class="meta">O'Reilly, May 2015</span>
		</li>
		<li>
			<h3><a href="https://www.youtube.com/watch?v=yqejmZrtmNg">Performance Budget with Tim Kadlec (Video)</a></h3>
			<span class="meta">Akamai Animated Web Performance Series, Apr 2015</span>
		</li>
		<li>
			<h3><a href="http://workingdraft.de/196/">Working Draft Episode 196 (Audio)</a></h3>
			<span class="meta">Working Draft Podcast, Nov 2014</span>
		</li>
		<li>
			<h3><a href="https://www.youtube.com/watch?v=oowE9xg8vHI">HTML5 Inside the Brackets Episode 08: Designing Apps that Run Everywhere</a></h3>
			<span class="meta">HTML5 Inside the Brackets, Sep 2014</span>
		</li>
		<li>
			<h3><a href="https://software.intel.com/sites/billboard/article/no-device-left-behind">No Device Left Behind (Interview with Intel)</a></h3>
			<span class="meta">Intel Software Adrenaline, May 2014</span>
		</li>
		<li>
			<h3><a href="http://responsivedesign.rferl.org/content/empathy-in-connection-speeds/25368750.html">Empathy in Connection Speeds</a></h3>
			<span class="meta">Responsive Design.rferl.org, May 2014</span>
		</li>
		<li>
			<h3><a href="https://www.youtube.com/watch?v=_zxEYEKoAR4">Intel Interview: Tim Kadlec on What's Ahead for Mobile Devices (Video)</a></h3>
			<span class="meta">HTML5 Inside the Brackets, Apr 2014</span>
		</li>
		<li>
			<h3><a href="https://www.youtube.com/watch?v=J3KZdMkDD3A">Intel Interview: Tim Kadlec on Responsive Design  (Video)</a></h3>
			<span class="meta">HTML5 Inside the Brackets, Apr 2014</span>
		</li>
		<li>
			<h3><a href="http://calendar.perfplanet.com/2013/holistic-performance/">Holistic Performance</a></h3>
			<span class="meta">2013 Performance Calendar, Dec 2013</span>
		</li>
		<li>
			<h3><a href="http://www.webpayload.com/podcast/3-tim-kadlec-site-performance">Web Payload Episode 3: Site Performance (Audio)</a></h3>
			<span class="meta">Web Payload Podcast, Oct 2013</span>
		</li>
		<li>
			<h3><a href="http://shoptalkshow.com/episodes/075-with-tim-kadlec/">Shop Talk Show Episode 075: With Tim Kadlec (Audio)</a></h3>
			<span class="meta">Shop Talk Show, Jul 2013</span>
		</li>
		<li>	
			<h3><a href="http://responsivedesignweekly.com/interview/responsive-inverview-with-tim-kadlec-mat-marquis/">Responsive Interview with Tim Kadlec &amp; Mat Marquis</a></h3>
			<span class="meta">Responsive Design Weekly, Jan 2013</span>
		</li>
		<li>	
			<h3><a href="http://24ways.org/2012/responsive-responsive-design/">Responsive Responsive Design</a></h3>
			<span class="meta">24 Ways, Dec 2012</span>
		</li>
		<li>	
			<h3><a href="http://webprofessionals.org/web-professional-trends-for-2013-responsive-design-interview-with-tim-kadlec/">WebProfessionals.org Podcast (Audio)</a></h3>
			<span class="meta">WebProfessionals.org Podcast, Dec 2012</span>
		</li>
		<li>	
			<h3><a href="http://www.peachpit.com/podcasts/episode.aspx?e=16c7d568-7350-4f06-a78a-8d2f24b6ba6b">Author Talk Podcast (Audio)</a></h3>
			<span class="meta">Author Talk, Sep 2012</span>
		</li>
		<li>	
			<h3><a href="http://www.peachpit.com/articles/article.aspx?p=1925943">The Best Design Advice I Ever Got</a></h3>
			<span class="meta">Peachpit.com, Sep 2012</span>
		</li>
		<li>	
			<h3><a href="http://www.peachpit.com/articles/article.aspx?p=1945831">An Interview with Tim Kadlec on Responsive Design</a></h3>
			<span class="meta">Peachpit.com, Sep 2012</span>
		</li>
		<li>	
			<h3><a href="http://www.netmagazine.com/tutorials/determining-breakpoints-responsive-design">Determing breakpoints for a responsive design</a></h3>
			<span class="meta">.net Magazine, Aug 2012</span>
		</li>
		<li>	
			<h3><a href="http://www.youtube.com/watch?v=fd_T8i0uQ2Q">
				Interview with MetalToad (Video)</a></h3>
			<span class="meta">May, 2012</span>
		</li>
		<li>	
			<h3><a href="http://calendar.perfplanet.com/2011/carrier-networks-down-the-rabbit-hole/">Carrier Networks: Down the Rabbit Hole</a></h3>
			<span class="meta">2011 Performance Calendar, Dec 2011</span>
		</li>
		<li>	
			<h3><a href="http://calendar.perfplanet.com/2010/automating-performance-phing/">An Introduction to Automating Performance with Phing</a></h3>
			<span class="meta">2010 Performance Calendar, Dec 2010</span>
		</li>
	</ul>
</div>