<div class="elsewhere">
	<h2>Interviews and articles elsewhere</h2>
	<ul class="pub">
		<li>
			<time>Dec 2013</time>
			<h3><a href="http://calendar.perfplanet.com/2013/holistic-performance/">Holistic Performance</a></h3>
			<span class="meta">2013 Performance Calendar</span>
		</li>
		<li>
			<time>Oct 2013</time>
			<h3><a href="http://www.webpayload.com/podcast/3-tim-kadlec-site-performance">Web Payload Episode 3: Site Performance (Audio)</a></h3>
			<span class="meta">Web Payload Podcast</span>
		</li>
		<li>
			<time>Jul 2013</time>
			<h3><a href="http://shoptalkshow.com/episodes/075-with-tim-kadlec/">Shop Talk Show Episode 075: With Tim Kadlec (Audio)</a></h3>
			<span class="meta">Shop Talk Show</span>
		</li>
		<li>	
			<time>Jan 2013</time>
			<h3><a href="http://responsivedesignweekly.com/interview/responsive-inverview-with-tim-kadlec-mat-marquis/">Responsive Interview with Tim Kadlec &amp; Mat Marquis</a></h3>
			<span class="meta">Responsive Design Weekly</span>
		</li>
		<li>	
			<time>Dec 2012</time>
			<h3><a href="http://24ways.org/2012/responsive-responsive-design/">Responsive Responsive Design</a></h3>
			<span class="meta">24 Ways</span>
		</li>
		<li>	
			<time>Dec 2012</time>
			<h3><a href="http://webprofessionals.org/web-professional-trends-for-2013-responsive-design-interview-with-tim-kadlec/">WebProfessionals.org Podcast (Audio)</a></h3>
			<span class="meta">WebProfessionals.org Podcast</span>
		</li>
		<li>	
			<time>Sep 2012</time>
			<h3><a href="http://www.peachpit.com/podcasts/episode.aspx?e=16c7d568-7350-4f06-a78a-8d2f24b6ba6b">Author Talk Podcast (Audio)</a></h3>
			<span class="meta">Author Talk</span>
		</li>
		<li>	
			<time>Sep 2012</time>
			<h3><a href="http://www.peachpit.com/articles/article.aspx?p=1925943">The Best Design Advice I Ever Got</a></h3>
			<span class="meta">Peachpit.com</span>
		</li>
		<li>	
			<time>Sep 2012</time>
			<h3><a href="http://www.peachpit.com/articles/article.aspx?p=1945831">An Interview with Tim Kadlec on Responsive Design</a></h3>
			<span class="meta">Peachpit.com</span>
		</li>
		<li>	
			<time>Aug 2012</time>
			<h3><a href="http://www.netmagazine.com/tutorials/determining-breakpoints-responsive-design">Determing breakpoints for a responsive design</a></h3>
			<span class="meta">.net Magazine</span>
		</li>
		<li>	
			<time>May 2012</time>
			<h3><a href="http://www.youtube.com/watch?v=fd_T8i0uQ2Q">
				Interview with MetalToad (Video)</a></h3>
		</li>
		<li>	
			<time>Dec 2011</time>
			<h3><a href="http://calendar.perfplanet.com/2011/carrier-networks-down-the-rabbit-hole/">Carrier Networks: Down the Rabbit Hole</a></h3>
			<span class="meta">2011 Performance Calendar</span>
		</li>
		<li>	
			<time>Dec 2010</time>
			<h3><a href="http://calendar.perfplanet.com/2010/automating-performance-phing/">An Introduction to Automating Performance with Phing</a></h3>
			<span class="meta">2010 Performance Calendar</span>
		</li>
	</ul>
</div>