<div class="elsewhere">
	<h2>Elsewhere</h2>
	<ul class="pub">
		<li>
			<a href="http://www.webpayload.com/podcast/3-tim-kadlec-site-performance"><b>Web Payload Episode 3: Site Performance (Audio)</b> October, 2013</a>
		</li>
		<li>
			<a href="http://shoptalkshow.com/episodes/075-with-tim-kadlec/"><b>Shop Talk Show Episode 075: With Tim Kadlec (Audio)</b> July, 2013</a>
		</li>
		<li>	
			<a href="http://responsivedesignweekly.com/interview/responsive-inverview-with-tim-kadlec-mat-marquis/">
				<b>Responsive Interview with Tim Kadlec &amp; Mat Marquis</b> Responsive Design Weekly, January 2013
			</a>
		</li>
		<li>	
			<a href="http://24ways.org/2012/responsive-responsive-design/">
				<b>Responsive Responsive Design</b> 24 Ways, December 2012
			</a>
		</li>
		<li>	
			<a href="http://webprofessionals.org/web-professional-trends-for-2013-responsive-design-interview-with-tim-kadlec/">
				<b>WebProfessionals.org Podcast (Audio)</b> December 2012
			</a>
		</li>
		<li>	
			<a href="http://www.peachpit.com/podcasts/episode.aspx?e=16c7d568-7350-4f06-a78a-8d2f24b6ba6b">
				<b>Author Talk Podcast (Audio)</b> September 2012
			</a>
		</li>
		<li>	
			<a href="http://www.peachpit.com/articles/article.aspx?p=1925943">
				<b>The Best Design Advice I Ever Got</b> Peachpit.com, September 2012
			</a>
		</li>
		<li>	
			<a href="http://www.peachpit.com/articles/article.aspx?p=1945831">
				<b>An Interview with Tim Kadlec on Responsive Design</b> Peachpit.com, September 2012
			</a>
		</li>
		<li>	
			<a href="http://www.netmagazine.com/tutorials/determining-breakpoints-responsive-design">
				<b>Determing breakpoints for a responsive design</b> .net Magazine, August 2012
			</a>
		</li>
		<li>	
			<a href="http://www.youtube.com/watch?v=fd_T8i0uQ2Q">
				<b>Interview with MetalToad (Video)</b> May 2012
			</a>
		</li>
		<li>	
			<a href="http://calendar.perfplanet.com/2011/carrier-networks-down-the-rabbit-hole/">
				<b>Carrier Networks: Down the Rabbit Hole</b> 2011 Performance Calendar, December 2011
			</a>
		</li>
		<li>	
			<a href="http://calendar.perfplanet.com/2010/automating-performance-phing/">
				<b>An Introduction to Automating Performance with Phing</b> 2010 Performance Calendar, December 2010
			</a>
		</li>
		
	</ul>
</div>