 {% comment %} 
  <p><strong>Fully booked:</strong> I'm booked solid for development and consulting for the next several months. Still, if you would like to get in touch <a href="mailto:tim@timkadlec.com">please do so!</a></p>


  <p><strong>A little room:</strong> I have limited availability starting around October for development and consulting work. If you would like to get in touch <a href="mailto:tim@timkadlec.com">please do so!</a></p>

    <p><strong>Room in 2014:</strong> I'm now accepting inquiries for work in 2014. If you would like to get in touch <a href="mailto:tim@timkadlec.com">please do so!</a></p>
      {% endcomment %}
