@import "base";

@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #fff;
	color: $font;
	font: 100%/#{em($font-base-line-height)} $stack-serif;
}
.media{
	margin: 1em;

	.bd{
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
	}
	.img{
		margin: 0 auto 1em;
		display: block;
		@media screen and (min-width: 40em) {
			display: inline;
			float: left;
			margin-right: 1em;
			margin-bottom: 0;
		}
		

		img{
			display: block;
		}
	}
}
a{
	color: $accent;
}
.btn{
	background: $accent;
	color: #fff;
	padding: 1em;
	@include border-radius(10px);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .083333333em;
	font-size: .75em;
	font-family: $stack;
	font-weight: bold;
	@include transition-property(padding, background);
	@include transition-duration(.3s);
	&:hover{
		background: darken($accent,10);
		color: #fff;
		padding: 1em 1.5em;
	}
}
ins{
	text-decoration: none;
}
a:hover{
	color: darken($accent, 10);
}
#wrap, .inner{
	margin: 0 auto;
	max-width: $max-width;
	padding: 1em 0 0 0;
}
#wrap{
	padding-top: 2em;
	clear: both;
	font-size: 1.1em;
	line-height: 1.4em;
}
#home #wrap{
	max-width: 100%;
	padding-top: 1em;
	padding-bottom: 0;
}
#home footer{
	margin-top: 0;

}
h1{
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: #{em(10px)};
	letter-spacing: -2px;
	line-height: 1.1em;
	a {
		text-decoration: none;
	}
}
p, .hentry ol, .hentry ul{
	margin-bottom: 1em;
}
article{
	position: relative;
	width: 90%;
	margin: 0 auto;

}
h2{
	font-size: 1.75em;
	font-weight: bold;
	margin: #{em(16px)} 0 #{em(10px)} 0;
	letter-spacing: #{em(-1px)};
	line-height: 1.1em;
}
article h3, .slats h3{
	font-size: 1.25em;
	font-weight: bold;
	margin: #{em(16px)} 0 #{em(10px)} 0;
}
.hentry ol{
	list-style-type: decimal;
}
.hentry section strong{
	font-weight: bold;
}
.hentry .entry-content .note{
	font-family: $stack;
	font-size: .75em;
	color: rgb(99,99,99);
	line-height: 1.4em;
	padding: 1.5em 0;
	margin-bottom: 1.5em

}
.hentry .entry-content ul {
	list-style-type: disc;

	li{
		margin-left: 2.25em;
		margin-bottom: .5em;
	}
}
.hentry .entry-content ol {
	li{
		margin-left: 2.25em;
		margin-bottom: .5em;
	}
}
.slats{
	margin: auto 0;
	padding: 0;

	h3{
		margin-bottom: #{em(2px)};
	}
	.group{
		padding-bottom: .5em;
	}
}
blockquote{
	margin-left: 5%;
	border-left: 3px solid $accent;
	font-style: italic;
	padding-left: #{em(20px)};
}
header time{
	text-transform: uppercase;
	color: lighten($font, 50);
	letter-spacing: .2em;
	display: block;
	padding-bottom: 1em;
}
time{
	font-size: .85em;
}
.additional{
	font-size: .65em;
	text-transform: uppercase;
}
article header{
		border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	margin-bottom: #{em(30px)};
	text-align: center;

}
.comments{
	border-top: 1px dotted lighten($font, 80);
	margin-top: #{em(30px)};
}

figure{
	text-align: center;
	font-size: .85em;
	line-height: 1.3em;
}
figure img{
	margin: auto;
	display: block;
}
figure.banner{
	max-width: 100%;
	margin-bottom: 1em;

	figcaption{
		color: lighten($font, 50);
		padding: .25em;
		font-style: italic;
	}
}
#toggle{
	float: right;
	padding-top: .1em;
	font-size: 2.5em;
	text-transform: uppercase;
	z-index: 2001;
	color: #aaaaa9;
	
	@media screen and (min-width: 27.8125em) {
		padding-top: .3em;
	}	
	span{
		font-size: 1.5em;
		position: relative;
		top: .1em;
	}	
	
}

header[role=banner], footer {
	background: #242322;
	color: #fff;
	letter-spacing: 0 -1px 1px #000;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0 1em;
	nav{
		text-transform: uppercase;
		font-size: .9em;
		margin-bottom: 2em;
		z-index: 1000;
		font-family: $stack;
	}
}
header[role=banner] h1{
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 0;
	float: left;
	text-align: center;
	width: 50%;
	max-width: 200px;

	img{
		max-width: 100%;
	}

}
header[role=banner] a{
	text-decoration: none;
	color: #fff;
}


header[role=banner] nav li{
	display: block;
	border-bottom: 1px dotted rgba(255,255,255,.2);
	a{
		padding: .5em;
		display: block;
		color: #aaaaa9;
		font-weight: bold;

		&:hover{
			color: #fff;
			text-decoration: underline;
		}
	}
}
.testResults{
	width: 80%;
}
.testResults td{
    padding: .2em;
    border-bottom: 1px solid #fff;
}
.testResults th{
    font-weight: bold;
    border-bottom: 1px solid #333;
}
.testResults .fail{
    background: #CB000F;
    color: #fff;
    text-align: center;
}
.testResults .pass{
    background: #00882D;
    color: #fff;
    text-align: center;
}

.vevent{
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px dotted #d2d2d2;

	.date{
		color: #767676;
		margin-top: 0;
		min-width: 10em;
		margin-bottom: 0;
font-size: .9em;
			font-family: $stack;
		@media screen and (min-width: 63em) {
			float: left;
			margin-right: 2em;

		}
		time{
			font-size: 1em;
		}
	}
	.summary{
		color: #000;
		font-weight: bold;
	}
	.event-details{
		overflow: hidden;
	}
	h3{
		font-weight: bold;
		font-size: 1.785714286em;
		line-height: 1em;
		margin-bottom: .3em;
		margin-top: 0;
		a{
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}
	.resources{
		font-size: .8em;
		margin-bottom: 0;
		margin-top: 0em;
	}
}

footer{
	border-bottom: 0px;
	
	a{
		color: lighten($accent, 20);
		text-decoration: none;
		
		&:hover{
			border-bottom: 1px dotted lighten($accent, 20);
		}
	}

	.copy{
		margin: 0;
		padding: 1em 0;
		font-size: 1em;
		clear: both;
		color: darken(#ffffff, 40);
		text-align: center;

		strong{
			color: darken(#ffffff, 10);
		}

		.loaded{
			@media screen and (min-width: 40em)  {
				float: right;
			}
		}
			
	}
	.extra .fusionimg{
		margin-bottom: 1em;
	}
	.lc{
		max-width: 62em;
		padding: .75em 1.25em;
	}

}
.blog-index {
	width: 100%;
	overflow: auto;

	img{
		margin-left: 1em;
	}
}

.home {
		color: #504e4c;
		overflow: auto;
		width: 100%;
		padding: 0;

		.lc{
			padding: 1em;
		}
		.img{
			@media screen and (min-width: 40em) {
				margin-left: 0;
				margin-right: 2em;
			}
			
		}
	.extras{
	
		img{
			margin-right: 1em;
			height: 200px;
			border: 1px solid lighten($font, 40);
		}

		.noborder{
			border: 0px;
			padding: 0 1em;
		}
	}
	.img{
		border: 0;
		@include border-radius(10px);
		
	}
	.lede{
		font-size: em(24px, 16px);
		line-height: 1.4em;


		strong{
			font-weight: bold;
			color: #242322;
		}
	}
	.clients{

		display: table;
		width: 100%;
		&:before{
			content: " ";
			height: 9px;
			width: 100%;
			background: #e9e9e9;
			border-radius: 5px;
			display: table-caption;
			margin-bottom: .5em;
		}
		&:after{
			content: " ";
			height: 9px;
			width: 100%;
			background: #e9e9e9;
			border-radius: 5px;
			display: table-caption;
			margin-top: .5em;
			margin-bottom: 1em;
			caption-side: bottom;
		}
		li{
			text-align: center;
			vertical-align: middle;
			padding: .5em 0;
			display: table-cell;
			// float: left;
			/* &:nth-child(3n){ */
				// clear: both;
			// }
			// &:nth-child(4n){
			// 	padding-top: 1.5em;
			// }
			@media screen and (min-width: 40em) {
				display: table-cell;
				width: 33%;
				padding: 0;
				float: none;

				&:nth-child(3n){
					clear: none;
				}
				&:nth-child(4n){
					padding-top: 0;
				}
			}
			img{
				max-width: 80%;
			}
		}
	}
	h2{
		text-transform: uppercase;
		font-family: $stack;
		letter-spacing: 1px;
		font-size: 1em;
		margin-bottom: 2em;
	}

	div.upcoming {
		margin-left: 0;
		padding: 1em;
		.date{
			font-size: .6875em;
			font-family: $stack;
			float: none;
			margin-right: 0;
			text-transform: uppercase;
		}
		h3{
			font-size: em(33px,16px);
			margin-top: .3em;
			margin-bottom: .3em;

			a:hover{
					text-decoration: underline;
				}
		}
		.vevent{
			border-bottom: 0;
		}
		.event-details{
			
		}
		.resources{
			font-size: .875em;
			margin-top: .2em;
		}

		@media screen and (min-width: 40em) {
			float: right;
			width: 50%;
			padding-left: 2em;


		}
	}
	div.book-promo{
		text-align: center;
		margin-bottom: 2em;
		border-bottom: 1px solid #dedede;
		padding-bottom: 1em;
		img{
			margin-top: -2em;
		}
		h3{
			margin-top: 1em;
			margin-bottom: .5em;
			font-size: em(23px, 16px);
			color: #000;
			font-weight: bold;
			a{
				
				text-decoration: none;

				&:hover{
					text-decoration: underline;
					color: lighten(#000, 20);
				}
			}
		}
		p{
			font-size: .9em;
			margin-bottom: 2.5em;
		}
		@media screen and (min-width: 40em) {
			float: left;
			width: 49%;
			padding-right: 1.2em;
			padding-left: 1em;
			padding-bottom: 1.5em;
			margin-bottom: 0;
			border-bottom: 0;
						border-right: 1px solid #dedede;

		}
	}
	h2{
		small{
				font-weight: normal;
				text-transform: none;
				font-family: $stack-serif;
				font-size: em(16px, 18px);
				a{
					text-decoration: none;
					letter-spacing: 0;

					&:hover{
						text-decoration: underline;
					}
				}

			}
	}
	div.recent{
		margin-left: 0;
		padding: 2em 1em;

		@media screen and (min-width: 40em) {
			padding: 2em 0;
		}
		h2{

			
		}
		ol.slats{

			li{
				@media screen and (min-width: 40em) {
					display: inline-block;
					width: 49%;
					float: left;

					&:nth-child(3n){
						clear: both;
					}
					&:nth-child(2n){
						float: right;
						width: 50%;
						padding-left: 2em;
					}
				}
				
				margin-bottom: 2em;


			}
			time {
				font-size: .6875em;
				font-family: $stack;
				float: none;
				margin-right: 0;
				text-transform: uppercase;
			}
			h3{
				font-size: 1.785714286em;
				margin-top: .2em;
				margin-bottom: .1em;
				line-height: 1.1em;

				a{
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}
			.tags{
				font-size: .875em;

				a{
					border-bottom: 1px solid lighten(#54524f, 50);
					color: #54524f;
					text-decoration: none;

					&:before{
						content: "#";

					}

					&:hover{
						color: darken(#54524f, 50);
						border-bottom: 1px solid darken(#54524f, 50);
					}
				}
			}
		}
	}
}
.alt{
	background: #f7f7f7;
	padding: 0;
	clear: both;
	margin-top: 1em;
	.home & .lc{
		padding-top: 0;
		padding-bottom: 0;
		overflow: visible;
			&:after{
				content: " ";
				display: block;
				clear:both;
			}

	}
}
/* Custom layouts */

#lightbulb{
	background: #FFF3A2;
}
#lightbulb #wrap{
	padding-top: 2em;
}
#writing {
	@media screen and (min-width: 28.75em) {
		#wrap{
			background: image-url("pen-head-sm.png") top center no-repeat;
			background-size: 100%;
		}
	}
	@media screen and (min-width: 44.5em) {
		#wrap{
			background: image-url("pen-head.png") top center no-repeat;
			background-size: auto;
		}
	}

}
.rating {
	display: block;
	&:before {
		content: "Rating: ";
		font-weight: bold;
	}

	@media screen and (min-width: 34.375em) {
		display: inline-block;
		visibility: hidden;
		&:before{
			content: "";
		}
	}
}
@media screen and (min-width: 34.375em) {
	[data-rating="3of5"]:after{
		content: "\2605 \2605 \2605 \2606 \2606";
		visibility: visible;
		margin-left: -1.25em;

	}
	[data-rating="4of5"]:after{
		content: "\2605 \2605 \2605 \2605 \2606";
		visibility: visible;
		margin-left: -1.25em;
	}
	[data-rating="5of5"]:after{
		content: "\2605 \2605 \2605 \2605 \2605";
		visibility: visible;
		margin-left: -1.25em;
	}
}
#books-read{
	.hentry ol li {
		p:first-of-type{
			margin-top: .5em;
		}

	}
}
article.palatino{
	font-family: Palatino, Georgia, serif;
}
article.georgia{
	font-family: Georgia, serif;
	font-size: 1.125em;
	line-height: 1.545454545em; 
	width: 88%;

	h1{
		font-weight: normal;
		font-size: 5.375em;
	}
}
#lightbulb article header{
	text-align: center;
	border-bottom: 0px;
	padding-top: 230px;
	background: inline-image("/lightbulb.png", unquote("image/png")) top center no-repeat;
}
#disqus_thread{
	margin-top: 2em;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
	padding-top: 2em;
}
@import "prism";

.full .plleft{
	border: 1px solid lighten($font, 50);
	margin: auto;
	display: block;

}
footer{
	padding-top: 1em;

}
.plain caption{
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	padding: .5em;
	margin-bottom: .5em;
	border-bottom: 1px dotted rgba(0,0,0,.2);
}
table{
	border: 1px double #ccc;
}
/* About page */
.about {
	header{
		text-align: left;
	}

	@media screen and (min-width: 63em) {
		#wrap &{
			header, section{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
			#what-i-do{
				float: left;
				width: 62%;
				margin-bottom: 1.5em;
			}
			#bio{
				float: right;
				width: 30%;
				font-size: .8em;
				line-height: 1.5em;

				h2{
					margin-top: 0;
				}
			}
			.workStatus{
				clear: both;
				margin-bottom: 1.5em
			}
			.elsewhere{
				clear: both;
			}
		}
	}
}
/* Pub */
.elsewhere{
	h2 {
		margin-bottom: 0;
	}
	li{
		padding: .75em .25em .75em .75em;
		border-bottom: 1px dotted rgba(0,0,0,.2);
		@include transition-property(background);
	 	@include transition-duration(.3s);
		&:hover{
				background: lighten($font, 80);
			}
		a{
			text-decoration: none;
			color: $font;
			font-size: .8em;


		}
		b{
			display: block;
			margin-bottom: .2em;
			color: $accent;
			font-size: 1.2em;
		}
	}
}
#jump{
	display: none;
}
.workStatus{
	margin: 1em 0;
	background: lighten($font, 85);
	border: 1px dotted lighten($font, 70);
	padding: .5em;
	strong{
		font-weight: bold;
	}
	p{
		margin-bottom: 0;
	}
}
@media screen and (min-width: 19em) and (max-width: 50em) {
	

	nav{
		margin-top: -280px;
		position: absolute;
		width: 100%;

		&:target{
			margin-top: 0;
			left: 0px;
			position: static;
			z-index: 1001;

			~ #jump{
				position: relative;
				display: block;
				text-indent: -9999px;
				position: absolute;
				z-index:2001;
				left: 0;
				right: 0;
				bottom: 0;
				height: 4.5em;
				width: 100%;
			}
		}
	}
}
@media screen and (min-width: 19em) {
	.extras .extra:first-child{
		border-bottom: 1px dashed lighten($font, 20);
		padding-bottom: 3em;
		padding-top: 1.5em;
	}
	.extra{
		clear: both;
		width: 100%;
		overflow: hidden;
		padding-top: 1.5em;
		text-align: center;
		h3{
			font-size: 1em;
			text-transform: uppercase;
			color: lighten($accent, 20);
			font-weight: normal;
		}
		img{
			display: block;
			text-align: center;
			margin: auto;
		}
	}
}
@media screen and (min-width: 50em) {
	.plain{
	width: 100%;
	font-family: $stack;
	background: #eaebec;
	font-size: .9em;
	margin-bottom: 1em;
	thead th {
		padding: 1em;
		border: 1px solid #e0e0e0;
		border-width: 1px;
		background: #ededed;
	}
	td, th {
		padding: .5em;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		background: #fafafa;
	}
	tbody th{
		font-weight: bold;
	}
}
.num tbody th, .num tbody td {
	text-align: right;
}
	.recent h2{
		margin-top: 0;
	}

	footer {
		padding-top: 0;

	}
	header[role=banner] .inner{
		margin: auto;
		font-size: .9em;
	}
	footer .copy{
		text-align: left;


	}
	.extra{
		text-align: left;

		h3{
			font-size: 1em;
			text-transform: uppercase;
			color: lighten($accent, 20);
			font-weight: normal;
			margin-top: 1.5em;
		}

		img{
			float: left;
			margin-right: 2em;
		}

	}
	.intouch h3{
		margin-top: 1em;
	}

	.home{


		.upcoming, .recent, .workStatus{
			margin-left: 300px;
		}
		.workStatus{
			margin-top: 0;
		}
	}
	.home .plright{
		float: left;
		margin: 0 1em 2em;
	}

	#wrap, .inner{
		padding-bottom: 1em;
	}

	.pull{
		width: 100%;
		
		section{
			width: 65.8%;
		}

	}

	header[role=banner] h1{
		float: left;
	}
	header[role=banner] nav{
		float: right;
		margin-bottom: .5em;
		margin-top: 1.3em;
	}
	header[role=banner] nav li{
		margin-left: 1.5em;
		display: inline;
		border: 0px;

		a{
			display:inline;
			padding: 0;
		}
	}

	
	.full {
		.plleft{
			position: static;
			float: right;
			margin-left: 1em;
			margin-bottom: 1em;
		}
	}
	footer{
		padding-left: 0;
	}
		#jump, #toggle{
		display:none;


	}
}
@media screen and (min-width: 63em) {

.pullquote{
		position: absolute;
		right: 34.2%;
		width: 34.2%;
		padding-right: 5%;
		font-style: italic;
		color: lighten($font, 35);
		font-size: 1.2em;
		font-family: "Palatino Linotype", Palatino, Georgia, serif;
	}

	.pullquote-left:after{
		position: absolute;
		right: 105%;
		width: 23.2%;
		font-style: italic;
		color: lighten($font, 35);
		font-size: 1em;
		font-family: Palatino, Georgia, serif;

		
		/* Content */
		content: "\201C" attr(data-pullquote) "\201D";


	}
	.pull .pullquote-left:after{
		left: 110%;
		width: 34.2%;
	}
	.pullquote-right:after {
		position: absolute;
		left: 105%;
		width: 23.2%;
		font-style: italic;
		color: lighten($font, 35);
		font-size: 1em;
		font-family: Palatino, Georgia, serif;

		
		/* Content */
		content: "\201C" attr(data-pullquote) "\201D";


	}
	
	.pull .pullquote-right:after{
		left: 110%;
	}
	.pull .plleft{
		width: 34.2%;
		left: 110%;
		text-align: center;
		img{
			width: 100%;
		}
	}
	.extras .extra{
		float: left;
		clear: none;
		width: 50%;
		padding: .5em 2em 0 0;
		margin: 1.5em 0 0 0;
		&:last-child{
			padding-left: 2em;
			padding-right: 0;
		}
		&:first-child{
			border-right: 1px dashed lighten($font, 20);
			border-bottom: 0px;
			padding-top: 0;
			padding-bottom: 0;
			img{
				margin-right: 1em;
			}
		}
		img{
			float: left;
			margin-right: 2em;
			margin-bottom: 3em;
		}

	}

	header[role=banner] .inner{
		font-size: 1em;
	}
	.home{
		
		margin: auto;


	}
			.lc{
			width: 80%;
			margin: auto;
			overflow: hidden;
			max-width: 57em;
		}
	article section, header[role=banner] .inner{
		width: 90%;
		margin: auto;
		position: relative;
	}
	#wrap article section{
		width: 70%;
	}

	footer{
		margin-top: 2em;
	}

	#wrap .full {
		section{
			width: 90%;
		}
		
	}
	.elsewhere ul{
	-moz-column-count: 2; /* Firefox */
		-webkit-column-count: 2; /* Safari, Chrome */
		column-count: 2;
		-moz-column-gap: 1em; /* Firefox */
		-webkit-column-gap: 1em; /* Safari, Chrome */
		column-gap: 1em;
		
		li {
			display: inline-block;
			width: 100%;
		}
	}
	#wrap .sidebar {
		h1{
			text-align: left;
		}
		section {
			padding-right: 38%;
			width: 100%;
			position: relative;
			margin: 0;
		}
		.elsewhere{
			position: absolute;
			top: 0;
			right: 0;
			width: 33%;
			background: #fff;

			h2 {
				margin-top: 0;
				padding-top: 0;
			}
		}
	}
	.pull{
		width: 100%;
		
		section{
			width: 65.8%;
			margin: 0;
		}


	}
}
// undo tables for small screens
// $break-4 is the px-width break at which you want to cut it off
@media screen and (max-width: 46.75em) {
  
  // make each table separate from other ones
  .plain {

    border: 0;
    padding-bottom: 0;
    display: block;
    width: 100%;
    	
    // make sure captions are displayed
    caption {
      display: block;
    }
    
    /* 
     * wipe the thead from the face of the earth
     * modern screen readers will expose the 
     * generated content
     */
    thead {
      display: none;
      visibility: hidden;
    }
    
    /*
     * make everything display block so it 
     * aligns vertically
     */
    tbody, tr, th, td {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    
    // give each row a little space
    tr {
     	margin-bottom: 1em;
    }
    
    /* Labeling
     * adding a data-title attribute to the cells
     * lets us add text before the content to provide
     * the missing context
     * 
     * Markup: 
     *   <td data-title="Column Header">Content Here</td>
     * 
     * Display:
     *   Column Header: Content Here
     */
    th[data-title]:before,
    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      font-weight: bold;
    }
    th:not([data-title]) {
      font-weight: bold;
    }
    
    // hide empty cells
    td:empty {
      display: none;
    }
  }
}