<ul class="vcalendar">
<li class="vevent"><span class="summary"><a class="url" href="http://bdconf.com/2012/focuson-responsive-mn">Breaking Development :focus on Responsive</a></span><br>
<span class="location">Minneapolis</span>, <abbr class="dtstart" title="2012-06-04">June 4th, 2012</abbr><br>
Presented: “Creating Responsive Experiences” <a href="https://speakerdeck.com/u/tkadlec/p/creating-responsive-experiences">Slides</a></li>
<li class="vevent"><span class="summary"><a class="url" href="http://www.webvisionsevent.com/portland">WebVisions: Portland</a></span><br>
<span class="location">Portland</span>, <abbr class="dtstart" title="2012-05-16">May 16th</abbr>-<abbr class="dtstart" title="2012-05-18">18th, 2012</abbr><br>
Presented: “Embracing the Anywhere, Everywhere Web” <a href="https://speakerdeck.com/u/tkadlec/p/embracing-the-anywhere-everywhere-web">Slides</a></li>
<li class="vevent"><span class="summary"><a class="url" href="https://therichwebexperience.com/conference/fort_lauderdale/2011/11/home">The Rich Web Experience</a></span><br>
<span class="location">Fort Lauderdale</span>, <abbr class="dtstart" title="2011-11-29">November 29th</abbr>-<abbr class="dtstart" title="2011-12-02">December 2nd, 2011</abbr><br>
Presented: “Optimizing for Mobile Performance” <a href="http://speakerdeck.com/u/tkadlec/p/optimizing-for-mobile-performance">Slides</a><br>
Presented: “Developing for the Anywhere, Everywhere Web” <a href="http://speakerdeck.com/u/tkadlec/p/developing-for-the-anywhere-everywhere-web">Slides</a></li>
<li class="vevent"><span class="summary"><a class="url" href="http://webperfsummit.com/">Web Performance Summit (Online event)</a></span><br>
<abbr class="dtstart" title="2011-05-25">May 25th, 2011</abbr><br>
Presented: “Mobile WPO” <a href="http://www.slideshare.net/tkadlec/mobile-wpo">Slides</a></li>
<li class="vevent"><span class="summary"><a class="url" href="http://mobileportland.com/events/myth-mobile-context">Mobile Portland: The Myth of Mobile Context</a></span><br>
<abbr class="dtstart" title="2011-05-25">May 25th, 2011</abbr><br>
Panel: “The Myth of Mobile Context” <a href="https://vimeo.com/24318272">Video</a></li>
<li class="vevent"><span class="summary"><a class="url" href="http://www.webvisionsevent.com/">WebVisions 2011</a></span><br>
<abbr class="dtstart" title="2011-05-25">May 25th</abbr>-<abbr class="dtstart" title="2011-05-27">27th, 2011</abbr><br>
Presented: “Can Media Queries Save Us All?” <a href="http://speakerdeck.com/u/tkadlec/p/can-media-queries-save-us-all">Slides</a></li>
</ul>