AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript 	application/javascript
ExpiresActive On
ExpiresByType text/css "access plus 3 days"
ExpiresByType application/x-javascript "access plus 3 days"
ExpiresByType image/gif "access plus 3 days"
ExpiresByType image/png "access plus 3 days"
ExpiresByType image/jpeg "access plus 3 days"
ExpiresByType text/javascript "access plus 3 days"
ExpiresByType application/javascript "access plus 3 days"

RewriteEngine on
RewriteRule ^me$ /blog/archives [L]
RewriteRule ^feed$ /atom.xml [L]
RewriteRule ^rss$ /atom.xml [L]

RewriteRule ^blog/rss$ /atom.xml [L]

RewriteRule ^category/performance/feed?/?$ /performance.xml [L,R=301]
RewriteRule ^category/performance?/?$ /tags/performance [L,R=301]
