<ol class="slats">
	<li class="group">
<time class="dt-published" datetime="2015-10-08T11:31:00-05:00" pubdate=""><span class="month">Oct</span> <span class="day">08</span> <span class="year">2015</span></time>
<h3><a href="/2015/10/amp-and-incentives/">AMP and Incentives</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/amp/">AMP</a>, <a class="tag" href="/tags/performance/">performance</a>, <a class="tag" href="/tags/standards/">standards</a>
  
</span>

</li>
<li class="group">
<time class="dt-published" datetime="2015-09-30T10:45:59-05:00" pubdate=""><span class="month">Sep</span> <span class="day">30</span> <span class="year">2015</span></time>
<h3><a href="/2015/09/the-fallacy-of-keeping-up/">The Fallacy of Keeping Up</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/community/">community</a>, <a class="tag" href="/tags/process/">process</a>, <a class="tag" href="/tags/standards/">standards</a>
  
</span>

</li>
<li class="group">
<time class="dt-published" datetime="2015-05-14T11:54:08-05:00" pubdate=""><span class="month">May</span> <span class="day">14</span> <span class="year">2015</span></time>
<h3><a href="/2015/05/choosing-performance/">Choosing performance</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/facebook/">facebook</a>, <a class="tag" href="/tags/global/">global</a>, <a class="tag" href="/tags/performance/">performance</a>
  
</span>

</li>
  <li class="group">
<time class="dt-published" datetime="2015-02-06T13:50:00-06:00" pubdate=""><span class="month">Feb</span> <span class="day">06</span> <span class="year">2015</span></time>
<h3><a href="/2015/02/client-side-templatings-major-bug/">Client-side MVC’s major bug</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/frameworks/">frameworks</a>, <a class="tag" href="/tags/javascript/">javascript</a>, <a class="tag" href="/tags/performance/">performance</a>
  
</span>

</li>


</ol>

