<ol class="slats">
  <li class="group">
<time datetime="2014-11-18T09:15:00-06:00" pubdate=""><span class="month">Nov</span> <span class="day">18</span> <span class="year">2014</span></time>
<h3><a href="/2014/11/performance-budget-metrics/">Performance Budget Metrics</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/performance/">performance</a>
  
</span>

</li>
  <li class="group">
<time datetime="2014-09-26T09:06:00-05:00" pubdate=""><span class="month">Sep</span> <span class="day">26</span> <span class="year">2014</span></time>
<h3><a href="/2014/09/js-parse-and-execution-time/">JS Parse and Execution Time</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/performance/">performance</a>, <a class="tag" href="/tags/javascript/">javascript</a>
  
</span>
  </li>
  <li class="group">
<time datetime="2014-07-08T09:47:00-05:00" pubdate=""><span class="month">Jul</span> <span class="day">08</span> <span class="year">2014</span></time>
<h3><a href="/2014/07/rwd-is-bad-for-performance-is-good-for-performance/">“RWD is bad for performance” is good for performance</a></h3>






<span class="tags">
  
    <a class="tag" href="/tags/performance/">performance</a>, <a class="tag" href="/tags/responsive/">responsive</a>
  
</span>

</li>

  <li class="group">
        <time datetime="2014-01-14T10:33:00-06:00" pubdate=""><span class="day">14</span> <span class="month">Jan</span> <span class="year">2014</span></time>
       <h3>
          <a href="/2014/01/fast-enough/">Fast Enough</a></h3>



  
  
  <span class="tags">
    
      <a class="tag" href="/tags/performance/">performance</a>
    
  </span>
  
  </li>
</ol>

