<ol class="slats">
{% assign RECENT_POSTS_THRESHOLD = 4 %}
{% assign recent_post_count = 0 %}
  {% for post in site.posts %}
  {% if recent_post_count == RECENT_POSTS_THRESHOLD %}
    {% break %}
  {% endif %}
  {% unless post.external-url %}
       <li class="group">
        <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='day'>%d</span> <span class='month'>%b</span> <span class='year'>%Y</span>"}}</time>
       <h3>
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h3>



  {% capture tag %}{% if post %}{{ post.tags | tag_links | size }}{% else %}{{ page.tags | tag_links | size }}{% endif %}{% endcapture %}
  {% unless tag == '0' %}
  <span class="tags">
    {% if post %}
      {{ post.tags | tag_links }}
    {% else %}
      {{ page.tags | tag_links }}
    {% endif %}
  </span>
  {% endunless %}
  </li>
  {% assign recent_post_count = recent_post_count | plus: 1 %}
   {% endunless %}
      {% endfor %}
</ol>

