{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
{% if page.prism != false %}
<script type="text/javascript" src="/javascripts/prism.js"></script>
{% endif %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26806016-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
(function(){
  var fusion = document.createElement('script');
  fusion.src = window.location.protocol + '//adn.fusionads.net/api/1.0/ad.js?zoneid=206&rand=' + Math.floor(Math.random()*9999999);
  fusion.async = true;
  (document.head || document.getElementsByTagName('head')[0]).appendChild(fusion);
})();</script>