<article class="extras">
	<div class="extra">

        <a href="http://implementingresponsivedesign.com">{% img /images/ird_cover.png 200 200 "Implementing Responsive Design" "Implementing Responsive Design Book Cover" %}</a>
        <h3><a href="http://implementingresponsivedesign.com">Implementing Responsive Design</a></h3>
        <p>New devices and platforms emerge daily. Browsers iterate at a remarkable pace. Faced with this volatile landscape we can either struggle for control or we can embrace the inherent flexibility of the web.</p>
	</div>
    <div class="extra intouch">
    <h3><a href="http://fusionads.net">Powered by Fusion</a></h3>
        <span id="fusion_ad">&nbsp;</span>
    </div>
</article>
<p class="copy">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>
