<article class="extras">
	<div class="extra">

        <a href="http://implementingresponsivedesign.com">{% img /images/ird_cover.png 100 100 Implementing Responsive Design %}</a>
        <h3><a href="http://implementingresponsivedesign.com">My Book</a></h3>
        <p>Implementing Responsive Design: Building sites for an anywhere, everywhere web</p>
	</div>
	<div class="extra">
		<a href="http://bdconf.com">{% img /images/bd_logo_light.png 100 100 Breaking Development Conference %}</a>
		<h3><a href="http://bdconf.com">BDConf</a></h3>
		<p>Two-day conference discussing web design and development for beyond the desktop</p>
	</div>
</article>
<p class="copy">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>
<img style="display:none" src="/ga.php?utmac=MO-26806016-1&amp;utmn=1052470585&amp;utmr=-&amp;utmp=%2F&amp;guid=ON" />
