<article class="extras">
	<div class="extra">

        <a href="http://implementingresponsivedesign.com">{% img /images/ird_cover.png 200 200 Implementing Responsive Design %}</a>
        <h3><a href="http://implementingresponsivedesign.com">Implementing Responsive Design</a></h3>
        <p>New devices and platforms emerge daily. Browsers iterate at a remarkable pace. Faced with this volatile landscape we can either struggle for control or we can embrace the inherent flexibility of the web.</p>
	</div>
	<div class="extra">
		<a href="http://bdconf.com">{% img /images/bd_logo_light.png 200 200 Breaking Development Conference %}</a>
		<h3><a href="http://bdconf.com">BDConf</a></h3>
		<p>Breaking Development is a two-day, highly-curated, single-track conference exploring web design and development for beyond the desktop.</p>
	</div>
</article>
<p class="copy">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>
<img style="display:none" src="/ga.php?utmac=MO-26806016-1&amp;utmn=1052470585&amp;utmr=-&amp;utmp=%2F&amp;guid=ON" />
