{% capture tag %}{{ post.tags | size }}{% endcapture %}
<h3><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h3>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>


{% capture tag %}{% if post %}{{ post.tags | tag_links | size }}{% else %}{{ page.tags | tag_links | size }}{% endif %}{% endcapture %}
{% unless tag == '0' %}
# <span class="tags">
  {% if post %}
    {{ post.tags | tag_links }}
  {% else %}
    {{ page.tags | tag_links }}
  {% endif %}
</span>
{% endunless %}