<article class="h-entry {{ page.arrange }}" role="article">
{% unless page.no_header %}
  <header>
    {% include post/date.html %}{{ time }}
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>

      <div class="meta">
        <p class="additional"><a href="{{ root_url }}{{ post.url }}#disqus">Join the discussion &raquo;</a></p>
      </div>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}


  </header>
{% endunless %}
<section>
  {% if index %}
  <div class="e-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="e-content">{{ content }}</div>
{% endif %}
    {% unless page.meta == false %}
      <div class="meta">
        
        <p class="additional">

        {% include post/tags.html %}
        </p>

      </div>
    {% endunless %}
    {% if index %}
<h2><a rel="full-article" href="/remembers">View complete archives &raquo;</a></h2>
{% endif %}
</section>

{% if site.disqus_short_name and page.comments == true %}
  <section id="disqus">
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</article>

