<ul class="vcalendar">
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2014-01-16">16 Jan. 2014</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://www.peachpit.com/promotions/peachpit-presents-a-free-webcast-series-on-graphics-139186">Responsive Responsive Design</a></h3>
			<span class="summary">Peachpit Presents</span> (online event)
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-10-14">14</time>-<time class="dtend" datetime="2013-10-16">16 Oct. 2013</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://velocityconf.com/velocityny2013">Responsive Responsive Design</a></h3>
			<span class="summary">
				Velocity 2013: New York
			</span> in <span class="location">New York, NY</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/tkadlec/responsive-responsive-design-tutorial-at-velocity-ny">Slides</a> <a href="http://www.youtube.com/watch?v=snn5NKRouGA">Video (Part I)</a> <a href="http://www.youtube.com/watch?v=9OlprUrXCkg">Video (Part II)</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-09-09">9</time>-<time class="dtend" datetime="2013-09-11">11 Sept. 2013</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://smashingconf.com/2013">Deliberate Performance</a></h3>
			<span class="summary">
				Smashing Conference
			</span> in <span class="location">Freiburg, Germany</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/tkadlec/deliberate-performance">Slides</a> <a href="https://vimeo.com/78831483">Video</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-06-14">14 Jun. 2013</time>
		</p>
		<div class="event-details">
			<h3 class="summary">
				<a class="url" href="http://implementingresponsivedesign.com/workshops.php">Implementing Responsive Design Workshop</a>
			</h3> in <span class="location">Minneapolis, MN</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-05-16">16</time>-<time class="dtstart" datetime="2013-05-18">18 May 2013</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://mobilism.nl/">MC</a></h3>
			<span class="summary">
				Mobilism
			</span> in <span class="location">Amsterdam, NL</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-04-23">23 Apr. 2013</abbr>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://www.meetup.com/Web-Performance-NY/events/110754542/">Responsive Responsive Design</a></h3>
			<span class="summary">
				NY Web Performance Meetup
			</span> in <span class="location">New York, NY</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/tkadlec/responsive-responsive-design">Slides</a> <a href="http://www.youtube.com/watch?v=s8NMXU_bQq4&t=48m40s">Video</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-02-15">15</time>-<time class="dtstart" datetime="20123-02-16">16 Feb. 2013</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://snow-mobile.org/">Global Mobile</a></h3>
			<span class="summary">
				Snow*Mobile
			</span> in <span class="location">Madison, WI</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/tkadlec/global-mobile">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2012-06-04">04 Jun. 2012</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://bdconf.com/2012/focuson-responsive-mn">Creating Responsive Experiences</a></h3>
			<span class="summary">
				Breaking Development :focus on Responsive
			</span> in <span class="location">Minneapolis, MN</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/u/tkadlec/p/creating-responsive-experiences">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2012-05-16">16</time>-<time class="dtstart" datetime="2012-05-18">18 May 2012</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://www.webvisionsevent.com/portland">Embracing the Anywhere, Everywhere Web</a></h3>
			<span class="summary">
				WebVisions: Portland
			</span> in <span class="location">Portland, OR</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/u/tkadlec/p/embracing-the-anywhere-everywhere-web">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-11-29">29 Nov.</time>-<time class="dtstart" datetime="2011-12-02">2 Dec. 2011</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://therichwebexperience.com/conference/fort_lauderdale/2011/11/home">Optimizing for Mobile Performance</a></h3>
			<span class="summary">
				The Rich Web Experience
			</span> in <span class="location">Fort Lauderdale, FL</span>
			<p class="resources">Resources: 
				<a href="http://speakerdeck.com/u/tkadlec/p/optimizing-for-mobile-performance">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-11-29">29 Nov.</time>-<time class="dtstart" datetime="2011-12-02">2 Dec. 2011</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://therichwebexperience.com/conference/fort_lauderdale/2011/11/home">Developing for the Anywhere, Everywhere Web</a></h3>
			<span class="summary">
				The Rich Web Experience
			</span> in <span class="location">Fort Lauderdale, FL</span>
			<p class="resources">Resources: 
				<a href="http://speakerdeck.com/u/tkadlec/p/developing-for-the-anywhere-everywhere-web">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-05-25">25 May 2011</abbr>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://webperfsummit.com/">Mobile WPO</a></h3>
			<span class="summary">
				Web Performance Summit (Online event)
			</span>
			<p class="resources">Resources: 
				<a href="http://www.slideshare.net/tkadlec/mobile-wpo">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-05-25">25 May 2011</abbr>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://mobileportland.com/events/myth-mobile-context">The Myth of Mobile Context (panel)</a></h3>
			<span class="summary">
				Mobile Portland: The Myth of Mobile Context
			</span>
			<p class="resources">Resources: 
				<a href="https://vimeo.com/24318272">Video</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-05-25">25</time>-<time class="dtstart" datetime="2011-05-27">27 May 2011</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://www.webvisionsevent.com/">Can Media Queries Save Us All?</a></h3>
			<span class="summary">
				WebVisions 2011
			</span> in <span class="location">Portland, OR</span>
			<p class="resources">Resources: 
				<a href="http://speakerdeck.com/u/tkadlec/p/can-media-queries-save-us-all">Slides</a>
			</p>
		</div>
	</li>

</ul>