<ul class="vcalendar">
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-06-14">14 Jun. 2013</time>
		</p>
		<div class="event-details">
			<h3 class="summary">
				<a class="url" href="http://implementingresponsivedesign.com/workshops.php">Implementing Responsive Design Workshop</a>
			</h3> in <span class="location">Minneapolis, MN</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-05-16">16</time>-<time class="dtstart" datetime="2013-05-18">18 May 2013</time>
		</p>
		<div class="event-details">
			<h3>MC</h3>
			<span class="summary">
				<a class="url" href="http://mobilism.nl/">Mobilism</a>
			</span> in <span class="location">Amsterdam, NL</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-04-23">23 Apr. 2013</abbr>
		</p>
		<div class="event-details">
			<h3>Presented: “Responsive Responsive Design”</h3>
			<span class="summary">
				<a class="url" href="http://www.meetup.com/Web-Performance-NY/events/110754542/">NY Web Performance Meetup</a>
			</span> in <span class="location">New York, NY</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/tkadlec/responsive-responsive-design">Slides</a> <a href="http://www.youtube.com/watch?v=s8NMXU_bQq4&t=48m40s">Video</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2013-02-15">15</time>-<time class="dtstart" datetime="20123-02-16">16 Feb. 2013</time>
		</p>
		<div class="event-details">
			<h3>Presented: “Global Mobile”</h3>
			<span class="summary">
				<a class="url" href="http://snow-mobile.org/">Snow*Mobile</a>
			</span> in <span class="location">Madison, WI</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/tkadlec/global-mobile">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2012-06-04">04 Jun. 2012</time>
		</p>
		<div class="event-details">
			<h3>Presented: “Creating Responsive Experiences”</h3>
			<span class="summary">
				<a class="url" href="http://bdconf.com/2012/focuson-responsive-mn">Breaking Development :focus on Responsive</a>
			</span> in <span class="location">Minneapolis, MN</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/u/tkadlec/p/creating-responsive-experiences">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2012-05-16">16</time>-<time class="dtstart" datetime="2012-05-18">18 May 2012</time>
		</p>
		<div class="event-details">
			<h3>Presented: “Embracing the Anywhere, Everywhere Web”</h3>
			<span class="summary">
				<a class="url" href="http://www.webvisionsevent.com/portland">WebVisions: Portland</a>
			</span> in <span class="location">Portland, OR</span>
			<p class="resources">Resources: 
				<a href="https://speakerdeck.com/u/tkadlec/p/embracing-the-anywhere-everywhere-web">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-11-29">29 Nov.</time>-<time class="dtstart" datetime="2011-12-02">2 Dec. 2011</time>
		</p>
		<div class="event-details">
			<h3>Presented: “Optimizing for Mobile Performance”</h3>
			<span class="summary">
				<a class="url" href="https://therichwebexperience.com/conference/fort_lauderdale/2011/11/home">The Rich Web Experience</a>
			</span> in <span class="location">Fort Lauderdale, FL</span>
			<p class="resources">Resources: 
				<a href="http://speakerdeck.com/u/tkadlec/p/optimizing-for-mobile-performance">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-11-29">29 Nov.</time>-<time class="dtstart" datetime="2011-12-02">2 Dec. 2011</time>
		</p>
		<div class="event-details">
			<h3>Presented: “Developing for the Anywhere, Everywhere Web”</h3>
			<span class="summary">
				<a class="url" href="https://therichwebexperience.com/conference/fort_lauderdale/2011/11/home">The Rich Web Experience</a>
			</span> in <span class="location">Fort Lauderdale, FL</span>
			<p class="resources">Resources: 
				<a href="http://speakerdeck.com/u/tkadlec/p/developing-for-the-anywhere-everywhere-web">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-05-25">25 May 2011</abbr>
		</p>
		<div class="event-details">
			<h3>Presented: “Mobile WPO”</h3>
			<span class="summary">
				<a class="url" href="http://webperfsummit.com/">Web Performance Summit (Online event)</a>
			</span>
			<p class="resources">Resources: 
				<a href="http://www.slideshare.net/tkadlec/mobile-wpo">Slides</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-05-25">25 May 2011</abbr>
		</p>
		<div class="event-details">
			<h3>Panel: “The Myth of Mobile Context”</h3>
			<span class="summary">
				<a class="url" href="http://mobileportland.com/events/myth-mobile-context">Mobile Portland: The Myth of Mobile Context</a>
			</span>
			<p class="resources">Resources: 
				<a href="https://vimeo.com/24318272">Video</a>
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2011-05-25">25</time>-<time class="dtstart" datetime="2011-05-27">27 May 2011</time>
		</p>
		<div class="event-details">
			<h3>Presented: “Can Media Queries Save Us All?”</h3>
			<span class="summary">
				<a class="url" href="http://www.webvisionsevent.com/">WebVisions 2011</a>
			</span> in <span class="location">Portland, OR</span>
			<p class="resources">Resources: 
				<a href="http://speakerdeck.com/u/tkadlec/p/can-media-queries-save-us-all">Slides</a>
			</p>
		</div>
	</li>

</ul>