<ul class="vcalendar">
	

	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2014-04-01">1</time>-<time class="dtend" datetime="2014-04-03">3 Apr. 2014</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://rwdsummit.com/">Speed Matters</a></h3>
			<span class="summary">RWD Summit</span> (online event)
			<p class="resources">
				Save 20% with code 20KADLEC
			</p>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2014-06-06">06 June 2014</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://rustbeltrefresh.com/">Deliberate Performance</a></h3>
			<span class="summary">Rustbelt Refresh</span> in <span class="location">Cleveland, OH</span>
		</div>
	</li>
</ul>
{% comment %}
{% if index %}
<p>Schedule's all clear at the moment!</p>
<p>If you want to chat with me about presenting at an upcoming event, feel free to <a href="mailto:tim@timkadlec.com">get in touch</a>.</p>
{% else %}
<p>Schedule's all clear at the moment!</p>

{% endif %}
{% endcomment %}