<ul class="vcalendar">
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2017-06-19">19</time>-<time class="dtend" datetime="2017-06-20">20 June 2017</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://conferences.oreilly.com/fluent/fl-ca/public/schedule/detail/59341">Workshop: Debugging Front-End Performance</a></h3>
			<span class="summary">Fluent 2017</span> in <span class="location">San Jose, CA</span>
		</div>
	</li>
<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2017-06-20">20</time>-<time class="dtend" datetime="2017-06-22">22 June 2017</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://conferences.oreilly.com/fluent/fl-ca/public/schedule/grid/public/2017-06-20">Keynote: Focusing on What Matters</a></h3>
			<span class="summary">Fluent 2017</span> in <span class="location">San Jose, CA</span>
		</div>
	</li>
		{% if index == null %}	
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2017-06-20">20</time>-<time class="dtend" datetime="2017-06-22">22 June 2017</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://conferences.oreilly.com/fluent/fl-ca/public/schedule/grid/public/2017-06-20">The Thing About Frameworks</a></h3>
			<span class="summary">Fluent 2017</span> in <span class="location">San Jose, CA</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2017-08-16">16</time>-<time class="dtend" datetime="2017-08-18">18 Aug. 2017</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://midwestjs.com/#/main">The State of JavaScript Security</a></h3>
			<span class="summary">Midwest JS</span> in <span class="location">Minneapolis, MN</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2017-10-04">4</time>-<time class="dtend" datetime="2017-10-06">6 Oct. 2017</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://events.linuxfoundation.org/events/node-interactive">The State of Node Security</a></h3>
			<span class="summary">Node.js Interactive</span> in <span class="location">Vancouver, Canada</span>
		</div>
	</li>


	{% endif %}
</ul>
{% comment %}
{% if index %}
<p>Schedule's all clear at the moment!</p>
<p>If you want to chat with me about presenting at an upcoming event, feel free to <a href="mailto:tim@timkadlec.com">get in touch</a>.</p>
{% else %}
<p>Schedule's all clear at the moment!</p>

{% endif %}
{% endcomment %}