<ul class="vcalendar">
	
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2016-09-19">19</time>-<time class="dtend" datetime="2016-09-20">20 Sept. 2016</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://conferences.oreilly.com/velocity/devops-web-performance-ny/public/schedule/detail/52395">Workshop: Debugging Front-End Performance</a></h3>
			<span class="summary">Velocity 2016: New York</span> in <span class="location">New York, NY</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2016-09-21">21 Sept. 2016</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://www.meetup.com/Web-Performance-NY/events/232811958/">Panel: The Future of Web Performance</a></h3>
			<span class="summary">NY Web Performance Meetup</span> in <span class="location">New York, NY</span>
		</div>
	</li>
		{% if index == null %}	

	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2016-11-07">07 Nov. 2016</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://beyondtellerrand.com/events/berlin-2016/workshops/building-performant-websites">Workshop: Building Performant Websites</a></h3>
			<span class="summary">Beyond Tellerand</span> in <span class="location">Berlin, Germany</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2016-11-07">07</time>-<time class="dtend" datetime="2016-11-09">09 Nov. 2016</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="https://beyondtellerrand.com/events/berlin-2016">TBA</a></h3>
			<span class="summary">Beyond Tellerand</span> in <span class="location">Berlin, Germany</span>
		</div>
	</li>
	<li class="vevent">
		<p class="date">
			<time class="dtstart" datetime="2016-12-02">02 Dec. 2016</time>
		</p>
		<div class="event-details">
			<h3><a class="url" href="http://www.generateconf.com/bangalore-2016/">Once More, With Feeling</a></h3>
			<span class="summary">Generate Bangalore</span> in <span class="location">Bangalore, India</span>
		</div>
	</li>
	{% endif %}
</ul>
{% comment %}
{% if index %}
<p>Schedule's all clear at the moment!</p>
<p>If you want to chat with me about presenting at an upcoming event, feel free to <a href="mailto:tim@timkadlec.com">get in touch</a>.</p>
{% else %}
<p>Schedule's all clear at the moment!</p>

{% endif %}
{% endcomment %}