// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#disqus{
	margin-top: 2em;
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
	padding-top: 2em;
}